pip3 install paho-mqtt
sudo apt install libmysqlclient-dev redis
pip3 install flask_mysqldb
pip3 install mysql-connector-python
pip3 install rrdtool
pip3 install pyserial
pip3 install exifread
pip3 install typesense
pip3 install flask-wtf