{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-un">{% block title %} Page Not Found{% endblock %}</h2>
        <div class="title-un-icon">
            <ion-icon name="close-circle-outline"></ion-icon>
        </div>
        <p class="title-un-des"></p>

        {% endblock %}

        {% block content %}

        {{ reason }}

        <p>The content you are looking for has been moved - So try going here to start again looking at the content for <a href="https://www.spudooli.com">The Book of Spudooli</a></p>

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>

{% endblock %}