{% extends 'base.html' %}
{% set active_page = "house" %}

{% block metadescription %}All about us{% endblock %}
{% block ogtitle %}About Us{% endblock %}
{% block ogdescription %}All about us{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com{{ url_for('about') }}{% endblock %}


{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}About Us{% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="body-outline"></ion-icon>
        </div>
        <p class="title-un-des">Every website needs an about us, this is that.</p>

        {% endblock %}

        {% block content %}
      
       
        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
                  <div class="counter-number">  </div>
                  <div class="counter-title"> </div>
                </div>
              </div>
              <div class="col-md-9">
                <div>
                  <div class="spudooli-section-title">So what the heck is this all about</div>
                  <p>This is the website of Dave and Gabriel. But mostly Dave's because he's the only one that 
                    adds any content. They live in supreme happiness and contentedness in North Shore City, New Zealand.</p>

                    <p>This about page explains some things. And of course is written in the obligatory third person that all "about" pages seem to be written in.</p>
                    <p>&nbsp;</p>
                    <div class="spudooli-section-title">Who is Dave and Gabriel?</div>
                    <p>Dave works for a <a href="https://www.satellite.co.nz">digital production company</a>, where he is the Technical Director.

                    <p>Gabriel is a professional Wife and Mother and she is bloody excellent at both. The rest of the family doesn't know how lucky they are.</p>

                    <p>Their kids have grown up, got jobs and moved out. Everyone is very proud of both daughters.</p>
                    <p>&nbsp;</p>
                    <div class="spudooli-section-title">What does Spudooli mean?</div>
                    <p>Some time in the long forgotten past, Gabriel changed the word spuds into spudooli's. The word has stuck with us ever since and potatos 
                        will never be the same again. There was some contention about the fact it was a Cooper engineered word by Brandon. However he was never 
                        able to provide documentary proof that there was prior art so his complaint was dismissed contemptuously. When it came time to buy a domain 
                        name for this website, all the other names had been taken of course, so Dave used Spudooli instead.</p>
                        <p>&nbsp;</p>
                    <div class="spudooli-section-title">Colophon</div>
                    <p>This website is hosted at their home, in the office, on the desk, without a fixed IP address.</p>
                    <p>The server is custom built. A Gigabyte Z760 Aorus Master motherboard, Intel Alder Lake Core i9-12900F Processor, 32GB DDR5-4800 RAMs, 250GB M.2 Gen 4
                        NVMe SSD and a Gigabyte GeForce RTX 3060 Aorus Elite GPU, all watercooled via Corsair Hydro XC7 RGB CPU waterblock and water radiator. All of that is 
                    mounted on a Cooler Master MasterFrame 700 open frame "case". </p>
                    <p>The website is coded by Dave. It's a <a href="https://flask.palletsprojects.com/en/2.1.x/">Python Flask</a> application, of dubious quality, with data in MySQL. 
                        <a href="https://typesense.org/">Typesense </a>provides the search. All that runs on Ubuntu 22.04 LTS. The server is also incidentally Dave's desktop computer.
                        That's right. Linux on the desktop and has been that way for since 2004.</p>
                    <p>HTTPS is provided by <a href ="https://letsencrypt.org/">Let's Encrypt</a></p>
                    <p>&nbsp;</p>
                    <div class="spudooli-section-title">Awards, Press and General FIGJAM</div>
                    <p>&nbsp;</p>
                    <img src="/static/images/photobloggies.gif"><br>This site was nominated for and then ultimately awarded the <a href="http://2006.photobloggies.org/">
                        2006 Photobloggie</a> for "Best Australian / New Zealand Photoblog". Dave is immensly proud and honored to be listed on the 
                        <a href="https://barcelonaphotobloggers.org/2006/05/23/ganadores-de-los-premios-photobloggies-2006/">same web page as those other real photoblogs</a>. 
                        That link is about all the evidence that is left of the 2006 Photobloggies. </p>

                    <p>In May 2006 this photoblog managed to get as high as Number 10 on the Photoblogs.org <a href="http://www.photoblogs.org/hot/">Hot Photoblogs list</a>. In Sept 
                        2006, it briefly made postion 97, only to flicker back to insignificance not long after.</p>

                    <p>Also in May 2006, the photoblog was written about in the local community paper The Aucklander.</p>

                    <p>The website (in part) was the subject in an article in <a href="http://www.tone.co.nz/">Tone Magazine</a> (issue 52). In that article was the following quote:
                    <blockquote>Spudooli is a great photoblog. The photos are
                    lovely observances of daily life, and the stories Dave tells show the
                    person behind the pixels.<br>
                    <i>Derek Powazek, JPG Magazine</i></blockquote>
                    <p>Get a load of them eggs. Derek Powazek, no less.</p>
                    <img src="/static/images/PXL_20220521_020914096.jpg"><br>
                    <br>
                    <p>Favicon credit to <a href="https://dontcom.com">Dontcom</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>


{% endblock %}
