
{% extends 'adminbase.html' %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Posts Admin{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="pulse-outline"></ion-icon>
        </div>
        <p class="title-un-des">Select a post to edit.</p>

{% endblock %}

{% block content %}
<div id="comments">
    <ul>
      {% for post in adminposts %}
      <li>
        <a href="/photoblog/{{ post[0] }}">{{ post[1] }}</a>
        - {{ post[2].strftime('%A, %-d %B, %Y') }}
        &mdash; <a href="{{ url_for('edit_post', id=post[0]) }}">Edit</a>
      </li>
      {% endfor %}
    </ul>
  </div>

          <!-- Close divs -->
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}


