{% extends 'adminbase.html' %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Checkins{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <p class="title-un-des">Tell us where you are </p>

        {% endblock %}

        {% block content %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">

              <div class="mb-4">
                <p class="fw-semibold mb-2">Search previous checkins</p>
                <input name="search-box" id="search-box" class="form-control form-control-lg" placeholder="Start typing a venue...">
              </div>

              <div id="search-results" class="mb-4"></div>

              <div class="mb-4">
                <p class="fw-semibold mb-2">Previous checkins</p>
                <ul class="list-unstyled">
                  {% for venue in venues %}
                  <li class="mb-2">
                    <strong>{{ venue[0] }}</strong><br>
                    {{ venue[1] }}
                    <form action="{{ url_for('create_checkin') }}" method="post">
                      <input name="venue" value="{{ venue[0]|safe }}" type="hidden">
                      <input name="address" value="{{ venue[1] }}" type="hidden">
                      <button type="submit" class="btn btn-link p-0">Checkin here</button>
                    </form>
                  </li>
                  {% endfor %}
                </ul>
              </div>

              <p class="fw-semibold mb-2">Add a new checkin location</p>
              <form action="{{ url_for('create_checkin') }}" method="post">
                <div class="mb-3">
                  <label for="venue" class="form-label fw-semibold">Venue name</label>
                  <input name="venue" class="form-control" id="venue" value="{{ request.form['venue'] }}">
                </div>
                <div class="mb-3">
                  <label for="address" class="form-label fw-semibold">Venue address</label>
                  <input name="address" class="form-control" id="address" value="{{ request.form['address'] }}">
                </div>
                <div class="mb-4">
                  <input type="submit" class="btn btn-primary btn-lg" value="Checkin here">
                </div>
              </form>

            </div>
          </div>
        </div>
        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>

<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="{{ url_for('static', filename='js/checkin-search.js') }}"></script>



{% endblock %}