
{% extends 'adminbase.html' %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Checkins{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <p class="title-un-des">Tell us where you are            </p>

{% endblock %}

{% block content %}
                <div id="comments">
                 <div class="counter-title">Checkin Search</div>
                  <div class="form-group" style="margin-bottom: 30px;">
                    <input name="search-box" id="search-box" value="{{ request.form['name'] }}">
                  </div>

                  <div id="search-results"></div>
                
                
                  <div class="col-md-9">
                    <div class="counter-title">Previous Checkins</div>
                
                    <ul>
                      {% for venue in venues %}
                      <li><strong>{{ venue[0] }} </strong><br />
                        {{ venue[1] }}
                
                        <form action="{{ url_for('create_checkin') }}" method="post" style="text-align: right; color: #195ddd">
                          <input name="venue" class="form-control" id="venue" value="{{ venue[0]|safe }}" type="hidden">
                          <input name="address" class="form-control" id="address" value="{{ venue[1] }}" type="hidden">
                          <input class="danger" type="submit" value="Checkin Here " style="border: none; background: none; padding: 0;">
                        </form>
                
                      </li>
                      {% endfor %}
                    </ul>
                
                    <div class="counter-title">Add a new checkin location</div>
                    <form action="{{ url_for('create_checkin') }}" method="post">
                      <div class="form-group">
                        <label for="name">Venue Name</label>
                        <input name="venue" class="form-control" id="venue" value="{{ request.form['venue'] }}"><br />
                        <label for="address">Venue Address</label>
                        <input name="address" class="form-control" id="address" value="{{ request.form['address'] }}"><br />
                        <input class="danger" type="submit" value="Checkin Here ">
                    </form>
                  </div>
                </div>
                </div>
          <!-- Close divs -->
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery-3.7.1.min.js"></script>
<script>

$('#search-box').on('input', function() {
    $.get('/admin/checkin-search', {q: $(this).val()}, function(data) {
        // Update your search results here
        // For example, you can create a dropdown list with the results

        $('#search-results').html(data);
    });
});</script>



{% endblock %}


