
{% extends 'adminbase.html' %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}New Bookmark{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="bookmark-outline"></ion-icon>
        </div>
        <p class="title-un-des">Add a new bookmark, why don't you?           </p>

{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="url" class="form-label fw-semibold">URL</label>
            <input name="url" class="form-control form-control-lg" id="url" value="{{ request.form['url'] }}" required>
          </div>

          <div class="mb-3">
            <label for="tags" class="form-label fw-semibold">Tags</label>
            <input class="form-control" name="tags" id="tags" value="{{ request.form['tags'] }}" placeholder="comma separated" required>
          </div>

          <div class="mb-4">
            <input type="submit" class="btn btn-primary btn-lg" value="Save">
          </div>

        </form>
      </div>
    </div>
  </div>

          <!-- Close divs -->
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}


