{% set navigation_bar = [
('/', 'index', 'Home'),
('/photoblog/', 'photoblog', 'Photoblog'),
('/house', 'house', 'The House'),
('/recently', 'recently', 'Recently...'),
('/projects', 'projects', 'Projects')
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="The Book of Spudooli in RSS"
    href="https://www.spudooli.com/rss" />
  <meta name="description" content="{% block metadescription %}{% endblock %}" />
  <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
  <meta property="og:description" content="{% block ogdescription %}{% endblock %}" />
  <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
  <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="The Book of Spudooli" />
  <meta property="og:locale" content="en_NZ" />
  <meta name="fediverse:creator" content="@spudooli@mastodon.nz">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block canonical %}{% endblock %}

  <title>{% block title %}{% endblock %} - Spudooli</title>

  <link href="{{ url_for('static', filename='bootstrap.5.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='animate-min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body class="box-layout">
  <div id="top-bar"></div>

  <div class="inner-container">
    <!-- inner-container -->
    <header class="site-header">
      <div class="header-inner">
        <!-- navigation panel -->
        <div class="container">
          <div class="row">
            <div class="header-table col-md-12">
              <div class="brand">
                <a href="/">
                  <h1>Spudooli</h1>
                </a>
              </div>
              <nav id="nav-wrap" class="main-nav">
                <div id="mobnav-btn"> </div>
                <ul class="sf-menu">
                  {% for href, id, caption in navigation_bar %}
                  <li {% if id==active_page %} class="current" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
                  </li>
                  {% endfor %}
                  <li class="menu-search-bar">
                    <div id="search-label">
                      <ion-icon name="search-outline" size="small"></ion-icon>
                    </div>
                    <form class="search-bar" id="searchform" method="GET" action="/search">
                      <input type="text" placeholder="Search..." name="q">
                    </form>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- End navigation panel -->
        </div>
      </div>
    </header>
    {% for message in get_flashed_messages() %}
    <div class="animate__animated animate__bounce">{{ message }}</div>
    {% endfor %}

    {% block header %}{% endblock %}


    {% block content %}{% endblock %}

    <!-- Footer area -->
    <div class="footer-area-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-widget">
              <a href="/">
                <h3>Spudooli</h3>
              </a>
              <p>Maybe they had something else for breakfast,<br> who knows?</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-widget widget_nav_menu">
              <h4 class="footer-widget-title">Look at these</h4>
              <ul>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-mastodon" style="font-size: 16px;"></ion-icon><a
                    rel="me" href="https://mastodon.nz/@spudooli"> Spudooli on Mastodon</a></li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-mastodon" style="font-size: 16px;"></ion-icon><a
                    href="https://pixelfed.nz/spudooli"> Spudooli on Pixelfed</a> </li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-youtube" style="font-size: 16px;"></ion-icon><a
                    href="https://www.youtube.com/channel/UCO1EjsF0MfG6q63V7c8zqpw"> Spudooli on YouTube</a></li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-rss" style="font-size: 16px;"></ion-icon><a
                    href="/rss"> Spudooli on RSS</a></li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-github" style="font-size: 16px;"></ion-icon><a
                    href="https://github.com/spudooli"> Spudooli on Github</a></li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-twitter" style="font-size: 16px;"></ion-icon> <a
                    href="https://www.twitter.com/spudooli/"> Spudooli on Twitter (Deprecated)</a></li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-twitter" style="font-size: 16px;"></ion-icon> <a
                    href="https://www.twitter.com/spudooli_house/"> Spudooli House on Twitter (Deprecated)</a></li>
                <li style="margin-bottom: 10px;"><ion-icon name="logo-instagram" style="font-size: 16px;"></ion-icon><a
                    href="https://www.instagram.com/spudooli"> Spudooli on Instagram (Deprecated)</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-widget widget_nav_menu">
              <h4 class="footer-widget-title">Metadata</h4>
              <ul>
                <li class="menu-item"><a href="/now"> Now </a></li>
                <li class="menu-item"><a href="/about"> About Us </a></li>
                <li class="menu-item"><a href="/contactus"> Press inquiries</a></li>
                <li class="menu-item"><a href="/contactus"> Contact Us</a></li>
                <li class="menu-item"><a href="/status"> System's Status </a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Footer area -->
    <!-- Footer 2 -->
    <div class="footer-holder">
      <div class="container">
        <footer class="site-footer">
          <div class="row">
            <div class="col-md-12">
              <p>This is Another Spudooli Project<br>© Copyright {{ now.year }} | <a href="http://www.spudooli.com"
                  target="_blank">Spudooli Investments
                  Ltd</a></p>
              <p style="float: right;"><small><a rel="license"
                    href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License"
                      style="float: right;" src="/static/images/80x15.png" /></a><br>This work is licensed under a
                  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
                    Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</small></p>

            </div>
            <div class="col-md-6">
              <ul class="footer-nav">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Footer 2 -->
  </div>
  <!-- End inner-container -->
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script src="/static/js/bootstrap.5.min.js"></script>
  <script src="/static/js/superfish.js"></script>
  <script src="/static/js/wow.js"></script>
  <script src="/static/js/main.js"></script>
  <script type="module"
    src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/8.0.13/ionicons/ionicons.esm.min.js"></script>
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/8.0.13/ionicons/ionicons.esm.min.js"></script>

  {% block scripts %}
  {% endblock %}

</body>

</html>