{% set navigation_bar = [
('/', 'index', 'Home'),
('/photoblog/421', 'photoblog', 'Photoblog'),
('/house', 'house', 'The House'),
('#', 'pictures', 'Pictures')
] -%}
{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N9D9PV8');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %} - Spudooli</title>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,500,600,300,700' rel='stylesheet' type='text/css'>
  <!-- ionicons Fonts for icons -->
 <link href="{{ url_for('static', filename='ionicons.min.css') }}" rel="stylesheet">
  <!-- bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
  <!-- Styles CSS-->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <!-- Animate CSS-->
  <link href="{{ url_for('static', filename='animate.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body class="box-layout">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9D9PV8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="inner-container">
    <!-- inner-container -->
    <header class="site-header">
      <div class="header-inner">
        <!-- navigation panel -->
        <div class="container">
          <div class="row">
            <div class="header-table col-md-12">
              <div class="brand">
                <a href="/">
                  <h1>Spudooli</h1>
                </a>
              </div>
              <nav id="nav-wrap" class="main-nav">
                <div id="mobnav-btn"> </div>
                <ul class="sf-menu">
                  {% for href, id, caption in navigation_bar %}
                  <li{% if id == active_page %} class="current" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                    {% endfor %}
                    <li class="menu-search-bar">
                      <a id="search-label"><ion-icon name="search-outline" size="small"></ion-icon></a>
                      <form class="search-bar" id="searchform">
                        <input type="text" placeholder="Search..." name="s">
                      </form>
                    </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- End navigation panel -->
        </div>
      </div>
    </header>


    {% block header %}{% endblock %}

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}




    <!-- Footer area -->
    <div class="footer-area-container">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-widget">
              <a href="index.html">
                <h3>Spudooli</h3>
              </a>
              <p>Maybe they had something else for breakfast, who knows?</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-widget widget_nav_menu">
              <h4 class="footer-widget-title">Look at these</h4>
                <ul>
                  <li class="ion-social-twitter-outline"></i> <a href="https://www.twitter.com/spudooli/"> Spudooli on Twitter</a>
                  <li class="ion-social-instagram-outline"></i> <a href="https://www.instagram.com/spudooli"> Spudooli on Instagram</a>  
                  <li class="ion-social-youtube-outline"></i> <a href="https://www.youtube.com/channel/UCO1EjsF0MfG6q63V7c8zqpw"> Spudooli on YouTube</a>
               </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-widget widget_nav_menu">
              <h4 class="footer-widget-title">Metadata</h4>
              <ul>
                <li class="menu-item"><a href="#"> About Us </a></li>
                <li class="menu-item"><a href="#"> Press inquiries</a></li>
                <li class="menu-item"><a href="#"> Contact </a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Footer area -->
    <!-- Footer -->
    <div class="footer-holder">
      <div class="container">
        <footer class="site-footer">
          <div class="row">
            <div class="col-md-6">
              <p>© Copyright {{ now.year }} | <a href="http://www.spudooli.com" target="_blank">Spudooli Investments Ltd</a></p>
            </div>
            <div class="col-md-6">
              <ul class="footer-nav">
                <li><a href="#"></a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Footer -->
  </div>
  <!-- End inner-container -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/superfish.js"></script>
  <script src="/static/js/jquery.easing.js"></script>
  <script src="/static/js/wow.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>
  <script src="/static/js/jquery.fractionslider.min.js"></script>
  <script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>