{% extends 'base.html' %}
{% set active_page = "house" %}

{% block header %}
<div class="container-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-un">{% block title %}What is our EV doing?{% endblock %}</h1>
                <div class="title-un-icon">
                    <ion-icon name="car-outline"></ion-icon>
                </div>
		<p class="title-un-des">There is so much data to be had off the car and the charger, who am I to do nothing with it all? <br> Data since 20 September 2023</p>

                {% endblock %}

                {% block content %}

                <div class="container-counter-box">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp">
                            <ion-icon name="battery-charging-outline"></ion-icon>
                            <div class="counter-number"> {{ "{:,}".format(totalkwh) }} </div>
                            <div class="counter-title">Total kW/h Charged</div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
                            <ion-icon name="cash-outline"></ion-icon>
                            <div class="counter-number"> ${{ totalcost }} </div>
                            <div class="counter-title">Total Charge Cost </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                            <ion-icon name="navigate-outline"></ion-icon>
                            <div class="counter-number"> {{ i3traveled }} </div>
                            <div class="counter-title"> Distance Traveled</a></div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay=".3s">
                            <ion-icon name="pizza-outline"></ion-icon>
                            <div class="counter-number"> {{ costperkm }} </div>
                            <div class="counter-title">Cents per km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="container-counter-box">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay=".4s">
                            <ion-icon name="car-outline"></ion-icon>
                            <div class="counter-number"> {{ i3range | safe}} </div>
                            <div class="counter-title"> <a href="/i3">BMW i3 Range km</a></div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                            <ion-icon name="battery-charging-outline"></ion-icon>
                            <div class="counter-number">{{ i3battery | safe }} </div>
                            <div class="counter-title"><a href="/i3">BMW i3 Battery Charge %</a> </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay="1s">
                            <ion-icon name=""></ion-icon>
                            <div class="counter-number">  </div>
                            <div class="counter-title"><a href=""></a> </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay="1.1s">
                            <ion-icon name=""></ion-icon>
                            <div class="counter-number"> </div>
                            <div class="counter-title"><a href=""></a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  

                <div class="container-counter-box">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                            <ion-icon name="car-outline"></ion-icon>
                            <div class="counter-number"><div id="current_power">{{ i3pings }} </div> </div>
                            <div class="counter-title">Pings</div>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div>
                            <div class="counter-title">Location</div>
                            <p>Every 15 minutes, we ping the car to get data off it. Some of that data is its current location. Let's see where it spends all its time</p>
                              <p ><img src="/static/gis/i3.png"> </p>
                              <small>&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a>
                                &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a>
                                &copy; <a href="https://www.openstreetmap.org/about/" target="_blank">OpenStreetMap contributors</a></small>

                            
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="container-counter-box">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="counter-box wow fadeInUp">
                            <ion-icon name="car-outline"></ion-icon>
                            <div class="counter-number"> </div>
                            <div class="counter-title"> </div>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div>
                            <div class="counter-title">Charge cost by month</div>
                                  <p>How much does it cost to chare the car every month</p>
                                  <canvas id="myChart" width="1000" height="400"></canvas>
                                  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                                  <script>
                                    var ctx = document.getElementById("myChart");
                                    var myChart = new Chart(ctx, {
                                      type: 'bar',
                                      data: {
                                        labels: {{ chargelabels | safe}},
                                    datasets: [
                                      {
                                        label: "$ Spend on Charging the EV by Month",
                                        backgroundColor: '#000',
                                        borderColor: '#000',
                                        data: {{ chargevalues | safe }},
                                       }
                                    ]}});
                                  </script>
                  
                  
                          </div>
                        </div>
                      </div>
                  
                    </div>
                  </div>





                <!-- Close divs -->
            </div>
        </div>
    </div>
</div>


{% endblock %}
