{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block metadescription %}Our bookmarks, of delicio.us things we need to save for some inderterminate time, just in case we need them later.{% endblock %}
{% block ogtitle %} Bookmarks of delicious things {% endblock %}
{% block ogdescription %}Bookmarks of delicious things {% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Bookmarks{% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="bookmark-outline"></ion-icon>
        </div>
          <p class="title-un-des">Our bookmarks, of delicio.us things, we need to save for some inderterminate time, just in case we need them later.</p>
            
       </div>
        
        {% endblock %}

        {% block content %}
      
        <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                    <ion-icon name="bookmark-outline"></ion-icon>
                    <div class="counter-number"><div id="current_power"></div>{{ bookmarkcount }}</div>
                    <div class="counter-title">Bookmarks</div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title"></div>
                    
                    {% for bookmark in bookmarks %}

                        <p><a href="{{ bookmark[1] }}">{{ bookmark[2] | safe }}</a>
                        <br>
                        <small>{{ bookmark[3] }}</small>
                        </p>
                    {% endfor %}


                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>


{% endblock %}