{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block metadescription %}Our bookmarks, of delicio.us things we need to save for some inderterminate time, just in
case we need them later.{% endblock %}
{% block ogtitle %} Bookmarks of delicious things {% endblock %}
{% block ogdescription %}Bookmarks of delicious things {% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Bookmarks{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="bookmark-outline"></ion-icon>
        </div>
        <p class="title-un-des">Our bookmarks, of delicio.us things, we need to save for some inderterminate time, just
          in case we need them later.</p>

      </div>

      {% endblock %}

      {% block content %}

      <div class="container-counter-box">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="counter-box">
                <ion-icon name="bookmark-outline"></ion-icon>
                <div class="counter-number">
                  {{ bookmarkcount }}
                </div>
                <div class="counter-title">Bookmarks</div>
              </div>

              {% if popular_tags %}
              <div style="margin-top: 1rem;">
                <a href="{{ url_for('bookmarks') }}" class="{% if not active_tag %}fw-bold{% endif %}">All</a>
                {% for tag in popular_tags %}
                <br><a href="{{ url_for('bookmarks', tag_filter=tag) }}"
                  class="{% if active_tag == tag %}fw-bold{% endif %}">{{ tag }}</a>
                {% endfor %}
              </div>
              {% endif %}


            </div>
            <div class="col-md-9">
              <div>
                {% for bookmark in bookmarks %}
                <p><a href="{{ bookmark.url }}">{{ bookmark.title | safe }}</a>
                  <br>
                  <small>{{ bookmark.tags }}</small>
                </p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Close divs -->
    </div>
  </div>
</div>
</div>


{% endblock %}