{% extends 'base.html' %}
{% set active_page = "house" %}
{% block metadescription %}Charts of our data{% endblock %}
{% block ogtitle %}{{ pageHeading }} - The Charts of Spudooli{% endblock %}
{% block ogdescription %}Charts of our data{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com/house/charts/{{ where }}{% endblock %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-un">{% block title %}{{ pageHeading }}{% endblock %}</h2>
        <div class="title-un-icon">
          <ion-icon name="bar-chart-outline"></ion-icon>
        </div>
        <p class="title-un-des"></p>

        {% endblock %}

        {% block content %}

        {% for chart in charts %}
          <img class="chartcenter" src="{{ chart | replace('spudoolicom', '') }}" />
          <hr>
        {% endfor %}

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>

{% endblock %}