{% extends 'base.html' %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-un">{% block title %}The Book of Spudooli{% endblock %}</h2>
        <div class="title-un-icon"><ion-icon name="sunny-outline"></ion-icon></div>
        <p class="title-un-des">This is our place on the internet. A place of experimentation, a place of data, photos,
          information and maybe other things</p>

        {% endblock %}

        {% block content %}

        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp">
                  <ion-icon name="camera-outline"></ion-icon>
                  <div class="counter-number"> <a href="/photoblog">414</a> </div>
                  <div class="counter-title"> <a href="/photoblog">Photos</a></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                  <ion-icon name="logo-usd"></ion-icon>
                  <div class="counter-number"> {{ bankbalance }} </div>
                  <div class="counter-title"> Bank Balance </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".4s">
                  <ion-icon name="flash-outline"></ion-icon>
                  <div class="counter-number"> {{ power }} </div>
                  <div class="counter-title"> Power W/h</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".6s">
                  <ion-icon name="thermometer-outline"></ion-icon>
                  <div class="counter-number"> 27 </div>
                  <div class="counter-title">Inside Temperature</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      


<!-- This is the end -->
      </div>
    </div>
  </div>
</div>


{% endblock %}