{% extends 'base.html' %}

{% block metadescription %}This is our place on the internet. A place of experimentation, a place of data, photos, information and maybe other things{% endblock %}
{% block ogtitle %}The Book of Spudooli{% endblock %}
{% block ogdescription %}This is our place on the internet. A place of experimentation, a place of data, photos, information and maybe other things{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com{{ url_for('main') }}{% endblock %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}The Book of Spudooli{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="sunny-outline"></ion-icon>
        </div>
        <p class="title-un-des">This is our place on the internet. A place of experimentation, a place of data, photos,
          information and maybe other things</p>

        {% endblock %}

        {% block content %}

        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp">
                  <ion-icon name="camera-outline"></ion-icon>
                  <div class="counter-number"> {{ imagecount }} </div>
                  <div class="counter-title"> <a href="/photoblog/">Photoblog Posts</a></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
                  <ion-icon name="logo-usd"></ion-icon>
                  <div class="counter-number"> {{ bankbalance }} </div>
                  <div class="counter-title"> <a href="/money">Bank Balance</a> </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                  <ion-icon name="flash-outline"></ion-icon>
                  <div class="counter-number">
                    <div id="current_power"></div>
                  </div>
                  <div class="counter-title"><a href="/house/charts/power"> Power W/h</a></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".3s">
                  <ion-icon name="thermometer-outline"></ion-icon>
                  <div class="counter-number"> {{indoortemp | safe}} </div>
                  <div class="counter-title"><a href="/house/charts/indoor">Inside Temperature</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Story Section -->
        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".4s">
                  <div class="counter-number"> <img src="/static/photoblog/thumbs/thumb_{{ latestpost[2] }}"> </div>
                </div>
              </div>
              <div class="col-md-9">
                <div>
                  <div class="counter-title">Latest photoblog post</div>
                  <p><a href="/photoblog/{{ latestpost[0] }}"> {{ latestpost[1] }}</a></p>
                  <p>{{ latestpost[3] | truncate(100) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                  <div class="counter-number"> <img src="/static/staticmap.png"> </div>
                </div>
              </div>
              <div class="col-md-9">
                <div>
                  <div class="counter-title"> Where are we</div>
                  <p><a href="/location"> Where are Dave and Gabba?</a> Where we are right now and where we have been
                    this year.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".6s">
                  <div class="counter-number">  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div>
                  <div class="counter-title">Youtube Channel</div>
                  <p>Check out our Youtube channel, <a href="https://www.youtube.com/channel/UCO1EjsF0MfG6q63V7c8zqpw">Spudooli Road Trips</a>, 
                    for some great slow TV</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp">
                  <ion-icon name="play-circle-outline"></ion-icon>
                  <div class="counter-number"> {{ lastfmcount }} </div>
                  <div class="counter-title"> <a href="/recently">Songs played</a></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
                  <ion-icon name="logo-foursquare"></ion-icon>
                  <div class="counter-number"> {{ swarmcount }} </div>
                  <div class="counter-title"> <a href="/recently">Check Ins</a> </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                  <ion-icon name="logo-twitter"></ion-icon>
                  <div class="counter-number">
                    <div id="current_power">{{ tweetcount }}</div>
                  </div>
                  <div class="counter-title"><a href="/recently">Tweets</a></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".3s">
                  <ion-icon name="thermometer-outline"></ion-icon>
                  <div class="counter-number"> {{mancaveTemperature | safe}} </div>
                  <div class="counter-title"><a href="/house/charts/mancave">Man Cave Temperature</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- This is the end -->
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script>
  function power() {
    $.get('power', function (data) {
      $('#current_power').text(data);
    });
  }

  $(document).ready(function () {
    setInterval(power, 6000);
  });

  function start() {
    power();
  }

  window.onload = start;
</script>


{% endblock %}