{% extends 'base.html' %}
{% set active_page = "house" %}

{% block header %}
<div class="container-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-un">{% block title %}Where are we?{% endblock %}</h2>
                <div class="title-un-icon">
                    <ion-icon name="navigate-outline"></ion-icon>
                </div>
                <p class="title-un-des"></p>

                {% endblock %}

                {% block content %}

                <div class="container-counter-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="counter-title"> Where is Dave?</div>
                                <div class="counter-number"> {{ davelocation | safe}} </div>

                            </div>
                            <div class="col-md-6">
                                <div class="counter-title"> Where is Gabba</div>
                                <div class="counter-number"> {{ gabbalocation | safe }} </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="counter-title"> Dave's travels 2022</div>
                                <div class="counter-number"> <img src="/static/gis/dave.png"> </div>

                            </div>
                            <div class="col-md-6">
                                <div class="counter-title"> Gabba's travels 2022</div>
                                <div class="counter-number"> <img src="/static/gis/gabba.png"> </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-counter-box">
                    <div class="container">

                    </div>
                </div>

                <!-- Close divs -->
            </div>
        </div>
    </div>
</div>

{% endblock %}