{% extends 'base.html' %}
{% set active_page = "house" %}

{% block header %}
<div class="container-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-un">{% block title %}Where are we?{% endblock %}</h1>
                <div class="title-un-icon">
                    <ion-icon name="navigate-outline"></ion-icon>
                </div>
                <p class="title-un-des"></p>

                {% endblock %}

                {% block content %}

                <div class="container-counter-box">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="spudooli-section-title">Where is Dave right now?</div>
                                <div class="counter-number"> {{ davelocation | safe}} </div>

                            </div>
                            <div class="col-md-6">
                                <div class="spudooli-section-title">Where is Gabba right now?</div>
                                <div class="counter-number"> {{ gabbalocation | safe }} </div>

                            </div>
                        </div>
                        
                        <div class="row mb-5">
                            <div class="col-md-6">

                                <div class="spudooli-section-title">Dave in Auckland 2024</div>
                                <div class="counter-number"> <img src="/static/gis/dave-auckland.png" class="img-fluid"> </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                                <div class="col-md-6">
                                    <div class="spudooli-section-title">Gabba in Auckland 2024</div>
                                    <div class="counter-number"> <img src="/static/gis/gabba-auckland.png" class="img-fluid"> </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="spudooli-section-title">Dave's travels 2024</div>
                                <div class="counter-number"> <img src="/static/gis/dave.png" class="img-fluid"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="spudooli-section-title">Gabba's travels 2024</div>
                                <div class="counter-number"> <img src="/static/gis/gabba.png" class="img-fluid"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-counter-box">
                <div class="container">
                    <small>&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a>
                        &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a>
                        &copy; <a href="https://www.openstreetmap.org/about/" target="_blank">OpenStreetMap contributors</a></small>
                </div>
            </div>

            <!-- Close divs -->
        </div>
    </div>
</div>
</div>

{% endblock %}