{% extends 'base.html' %}
{% set active_page = "house" %}

{% block header %}

<div class="container-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-un">{% block title %}Where We Spend Our Money{% endblock %}</h2>
                <div class="title-un-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <p class="title-un-des">How we've spent quite a lot of money since about 1996. Because we run our house
                    out of a single bank account,
                    and have done since about 1994, we have a very good history of how we spend our money. Below is some
                    interesting (to us) stats.<br>
                In the database is <strong>29,766</strong> transactions, starting <strong>12/2/1996</strong> and the latest <strong>13/3/2022</strong></p>

                {% endblock %}

                {% block content %}

                <h2 class="title-un">Petrol</h2>
                <div class="title-un-icon">
                    <ion-icon name="car-outline"></ion-icon>
                </div>

                <div class="container-counter-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                                    <ion-icon name="car-outline"></ion-icon>
                                    <div class="counter-number">{{ totalPetrolSpend | replace('-', '$') }}</div>
                                    <div class="counter-title">Total spend on Petrol</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div>
                                    <div class="counter-title">Petrol</div>
                                    <p>On first reflection, this seems like a huge amount of money, and it is of course,
                                        but simplistically (not taking into account inflation etc) it's only about
                                        <strong>$4,335</strong> a year or <strong>$360</strong> a month to run 2 cars.
                                        Bring on EVs!
                                    </p>
                                    <p>Z should be sending us a Christmas card every year though</p>
                                    <p>Note the fascinating spend gap for April 2020 when NZ went into lockdown the
                                        first time where our only purchase at a service station was a bottle of milk</p>
                                    <p>The gap in late 2004 was when we were briefly livng in Madison, WI, USA.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-counter-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="counter-box wow fadeInUp">
                                    <ion-icon name="car-outline"></ion-icon>
                                    <div class="counter-number"> {{ shellZ | replace('-', '$')}} </div>
                                    <div class="counter-title"> Shell / Z</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                                    <ion-icon name="car-outline"></ion-icon>
                                    <div class="counter-number"> {{ caltex | replace('-', '$') }} </div>
                                    <div class="counter-title">Caltex </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter-box wow fadeInUp" data-wow-delay=".4s">
                                    <ion-icon name="car-outline"></ion-icon>
                                    <div class="counter-number"> {{ bp | replace('-', '$') }} </div>
                                    <div class="counter-title">BP</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter-box wow fadeInUp" data-wow-delay=".6s">
                                    <ion-icon name="car-outline"></ion-icon>
                                    <div class="counter-number"> {{ mobil | replace('-', '$') }} </div>
                                    <div class="counter-title">Mobil</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="chartcenter">
                    <canvas id="myChart" width="1000" height="400"></canvas>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                    <script>
                        var ctx = document.getElementById("myChart");
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{ labels | safe}},
                            datasets: [
                            {
                                label: "$ Spend on Petrol by Month",
                                backgroundColor: '#000',
                                borderColor: '#000',
                                data: {{ values | safe }},
                        }

                        ]
                    }
                });
                    </script>
                </div>


                <!-- Page Containter header  -->
                <div class="container-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title-un">Supermarkets</h3>
                                <div class="title-un-icon">
                                    <ion-icon name="cart-outline"></ion-icon></i>
                                </div>
                                <p class="title-un-des"></p>
                                <!-- End Page Containter header  -->
                                <!-- Containter contents  -->
                                <div class="container-counter-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                                                    <ion-icon name="cart-outline"></ion-icon>
                                                    <div class="counter-number">{{ totalSupermarketSpend | replace('-',
                                                        '$') }}</div>
                                                    <div class="counter-title">Possibly only half our Supermarket spend</div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="counter-title">Supermarkets suck our cash</div>
                                                    <p>Our total supermarket spend is not entirely accurate for various
                                                        reasons, including for example, a chunk of time we paid for
                                                        groceries with a cheque,
                                                        but it's still interesting to compare where we spend the money.
                                                    </p>
                                                    <p>Despite this data not including every time we've ever been to the
                                                        supermarket, the total visits we do have is
                                                        <strong>3,945</strong> times Gabba has
                                                        walked into a supermarket, or on average once every
                                                        <strong>2.45</strong> days. If I was to guess, the average would
                                                        be much closer to 1.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container-counter-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="counter-box wow fadeInUp">
                                                    <ion-icon name="cart-outline"></ion-icon>
                                                    <div class="counter-number"> {{ countdown | replace('-', '$')}}
                                                    </div>
                                                    <div class="counter-title"> Woolworths / Foodtown / Countdown</div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                                                    <ion-icon name="cart-outline"></ion-icon>
                                                    <div class="counter-number"> {{ newworld | replace('-', '$') }}
                                                    </div>
                                                    <div class="counter-title">New World </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="counter-box wow fadeInUp" data-wow-delay=".4s">
                                                    <ion-icon name="cart-outline"></ion-icon>
                                                    <div class="counter-number"> {{ paknsave | replace('-', '$') }}
                                                    </div>
                                                    <div class="counter-title">Pak n Save</div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="counter-box wow fadeInUp" data-wow-delay=".6s">
                                                    <ion-icon name="cart-outline"></ion-icon>
                                                    <div class="counter-number"> {{ farro | replace('-', '$') }} </div>
                                                    <div class="counter-title">Farro Fresh</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Containter Contents  -->
                                <!-- End Page Containter  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Containter  -->

                <!-- Page Containter header  -->
                <div class="container-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title-un">The Warehouse</h3>
                                <div class="title-un-icon">
                                    <ion-icon name="cart-outline"></ion-icon></i>
                                </div>
                                <p class="title-un-des"></p>
                                <!-- End Page Containter header  -->
                                <!-- Containter contents  -->
                                <div class="container-counter-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                                                    <ion-icon name="cart-outline"></ion-icon>
                                                    <div class="counter-number">{{ totalWarehouseSpend | replace('-',
                                                        '$') }}</div>
                                                    <div class="counter-title">Total Spend at The Warehouse</div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div>
                                                    <div class="counter-title">The changing habits of our spend at The Warehouse</div>
                                                    <p>At one point it seemed we were in The Warehouse almost every
                                                        weekend and then suddenyly it occured to me
                                                        that it was bloody ages since I was last there. I assume it's because we stopped buying stuff for the kids. 
                                                        The chart below shows our The Warehouse purchase history $ spend by month. Amusingly the last few years
                                                        we are shopping at The Warehouse, again for the kids but this time buying stuff for them to move out 
                                                        into places of their own.
                                                    </p>
                                                    <p>If I was to guess, our spend at McDonalds would possibly follow a
                                                        similar track. One day I will find out.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container-counter-box">
                                    <div class="container">

                                        <canvas id="myWarehouseChart" width="1000" height="400"></canvas>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                                        <script>
                                            var ctx = document.getElementById("myWarehouseChart");
                                            var myChart = new Chart(ctx, {
                                                type: 'bar',
                                                data: {
                                                    labels: {{ warehouselabels | safe }},
                                                   
                                                datasets: [
                                                    {
                                                    label: "$ Spend at The Warehouse by Month",
                                                    backgroundColor: '#000',
                                                    borderColor: '#000',
                                                    data: {{ warehousevalues | safe }},
                                            }
                    
                                            ]
                                        }
                                    });
                                        </script>
                                    </div>
                                </div>
                                <!-- End Containter Contents  -->
                                <!-- End Page Containter  -->
<!-- Page Containter header  -->
<div class="container-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-un">The Hardware Stores</h3>
                <div class="title-un-icon">
                    <ion-icon name="hammer-outline"></ion-icon>
                </div>
                <p class="title-un-des"></p>
                <!-- End Page Containter header  -->
                <!-- Containter contents  -->
                <div class="container-counter-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                                    <ion-icon name="hammer-outline"></ion-icon>
                                    <div class="counter-number">{{ hardware | replace('-', '$') }}</div>
                                    <div class="counter-title">Total Spend at Hardware stores</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div>
                                    <div class="counter-title">We bought a house to spend money at hardware stores</div>
                                    <p>We bought our house in January 2010. Which is about exactly when the chart below shows a marked increase
                                        in our spending at Hardware stores. Conveniently or not, we live only 800m from a Bunnings. We have 
                                        been to Bunnings Constellation <strong>{{ bunningsconstellation }}</strong> times. 

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-counter-box">
                    <div class="container">

                        <canvas id="myhardwareChart" width="1000" height="400"></canvas>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                        <script>
                            var ctx = document.getElementById("myhardwareChart");
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: {{ hardwarelabels | safe }},
                                   
                                datasets: [
                                    {
                                    label: "$ Spend at all hardware stores by Month",
                                    backgroundColor: '#000',
                                    borderColor: '#000',
                                    data: {{ hardwarevalues | safe }},
                            }
    
                            ]
                        }
                    });
                        </script>
                    </div>
                </div>
                <!-- End Containter Contents  -->
                <!-- End Page Containter  -->




                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Containter  -->









                <!-- Close divs -->
            </div>
        </div>
    </div>
</div>

        <!-- This is the end -->
    </div>
</div>
</div>
</div>



{% endblock %}