{% extends 'base.html' %}
{% set active_page = "philostainment" %}

{% block metadescription %}Things I have said usually under the influence of a single malt or a martini{% endblock %}
{% block ogtitle %} Things I have said {% endblock %}
{% block ogdescription %}A small history of tthings I have said{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com{{ url_for('philosotainment') }}{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.spudooli.com{{ url_for('philosotainment') }}" />{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Philosotainment{% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="calendar-outline"></ion-icon>
        </div>
          <p class="title-un-des">I can't recall now if it was Charlie or Alistair that branded my tweets as philostainment, but this is them. 
            Part philosophy and part entertainment, usually under the influence of a single malt or a martini<br>
            
       </div></p>
        
        {% endblock %}

        {% block content %}
      
       
        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
                  <div class="counter-number">  </div>
                  <div class="counter-title"> </div>
                </div>
              </div>
              <div class="col-md-9">
               

                
              </div>
            </div>
          </div>
        </div>

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>


{% endblock %}