{% extends 'base.html' %}
{% set active_page = "photos" %}

{% block metadescription %}Our photos, right here on the web to make it easier to share them{% endblock %}
{% block ogtitle %} Spudooli Photos {% endblock %}
{% block ogdescription %}Our photos, right here on the web to make it easier to share them{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Spudooli Photo Albums{% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="images-outline"></ion-icon>
        </div>
          <p class="title-un-des"><Our photos, right here on the web to make it easier to share thembr>
            
       </div></p>
        
        {% endblock %}

        {% block content %}
      
       
        <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                    <ion-icon name="images-outline"></ion-icon>
                    <div class="counter-number"> {{ photocount }} </div>
                    <div class="counter-title">Total Photos</div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title">Choose a photo album</div>

                    <div class="photo-gallery">
                        <!-- Thumbnail images -->
                        {% for photos in albumphoto %}
                        <div >
                          <img src="{{ url_for('static', filename='photos/tn_' + photos.image_url)|replace("/static//var/www/spudooli/spudoolicom", "") }}" alt="{{ description }}" onclick="openModal('{{ url_for('static', filename='photos/' + photos.image_url)|replace("/static//var/www/spudooli/spudoolicom", "") }}')">
                        </div>
                        
                        <!-- Modal container -->
                        <div id="modal" class="modal">
                            <span class="close" onclick="closeModal()">&times;</span>
                        </div>
                        {% endfor %}
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                    <div class="counter-number"> </div>
                    <div class="counter-title"></a></div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title">Artist Playcount</div>
                    <p>
                        {% for thing in top20artists  %}
                        <ul>
                          <li>{{ thing.playcount }} - {{ thing.artist }}</li>
                       </ul>
                       {% endfor %}</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>

<script>

    function openModal(imageSrc) {
      const modal = document.getElementById('modal');
      const modalImage = document.getElementById('modal-image');
      modalImage.src = imageSrc;
      modal.style.display = 'block';
    }
    
    // Close the modal
    function closeModal() {
      const modal = document.getElementById('modal');
      modal.style.display = 'none';
    }
    
    // Close the modal when clicking outside the modal content
    window.onclick = function (event) {
      const modal = document.getElementById('modal');
      if (event.target === modal) {
          modal.style.display = 'none';
      }
    };</script>

{% endblock %}