{% extends 'base.html' %}
{% set active_page = "photoblog" %}
{% block metadescription %}The photoblog archive, all the photos on one page{% endblock %}
{% block ogtitle %}The Photoblog Archive of Spudooli{% endblock %}
{% block ogdescription %}The photoblog archive, all the photos on one page{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com/house/photblog/archive{% endblock %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}The Photoblog{% endblock %}</h1>
        <div class="title-un-icon"><ion-icon name="camera-outline"></ion-icon></div>
        <p class="title-un-des">From 2004 until sometime 2010 this website was mostly dedicated to a photoblog. Some 414
          photo posts. the photoblog won a pretty prestigious award in 2006 - A Photobloggie for Australia / New Zealand
          photoblogs. The photoblog came alive again April 2022. Who knows for how long?</p>

        {% endblock %}

        {% block content %}


        <ul class="blog-posts-g">
          {% for post in posts %}
          <li>
            <div class="post-img">
              <a href="{{ url_for('post', id=post[0]) }}">
                <img id="photoblog-image" src="/static/photoblog/thumbs/thumb_{{ post[2] }}" class="post-img">
              </a>
            </div>
            <div class="post-content">
              <h5><a href="{{ url_for('post', id=post[0]) }}">
                  <h5>{{ post[1] | replace('\\', '') }}
                </a></h5>
              <div class="post-info"><span> {{ post[3].strftime('%A, %-d %B, %Y %-H:%M')}}</span></div>
            </div>
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}