{% extends 'base.html' %}
{% set active_page = "photos" %}

{% block metadescription %}Our photos, right here on the web to make it easier to share them{% endblock %}
{% block ogtitle %} Spudooli Photos {% endblock %}
{% block ogdescription %}Our photos, right here on the web to make it easier to share them{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Spudooli Photo Albums{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="images-outline"></ion-icon>
        </div>
        <p class="title-un-des">Our photos, right here on the web to make it easier to share them<br>

      </div>
      </p>

      {% endblock %}

      {% block content %}


      <div class="container-counter-box">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                <ion-icon name="images-outline"></ion-icon>
                <div class="counter-number"> {{ photocount }} </div>
                <div class="counter-title">Total Photos</div>
              </div>
            </div>
            <div class="col-md-9">
              <div>
                <div class="counter-title">Choose a photo album</div>

                {% for parent_albumID, album_name in photoalbums | groupby("parent_albumID") %}
                <br>
                {% if parent_albumID != 0 %}
                {{ parent_albumID}}
                <br>
                {% for thing in album_name %}

                <ul>
                  <li><a href="/photos/album/{{thing.albumID }}">{{ thing.album_name }}</a> - {{ thing.album_desc }}
                  </li>
                </ul>
                {% endfor %}
                {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-counter-box">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
                <div class="counter-number"> </div>
                <div class="counter-title"></a></div>
              </div>
            </div>
            <div class="col-md-9">
              <div>
                <div class="counter-title">Artist Playcount</div>
                <p>
                  {% for thing in top20artists %}
                <ul>
                  <li>{{ thing.playcount }} - {{ thing.artist }}</li>
                </ul>
                {% endfor %}</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Close divs -->
    </div>
  </div>
</div>
</div>


{% endblock %}