{% extends 'base.html' %}
{% set active_page = "photoblog" %}
{% block metadescription %}The maps showing where I've taken our photos{% endblock %}
{% block ogtitle %}The Photoblog Map of Spudooli{% endblock %}
{% block ogdescription %}The photoblog archive, all the photos on one page{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com/photoblog/archive{% endblock %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}The Photoblog Map{% endblock %}</h1>
        <div class="title-un-icon"><ion-icon name="map-outline"></ion-icon></div>
        <p class="title-un-des">Where on earth have I taken (some of) these photos?</p>

        {% endblock %}

        {% block content %}

        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                  <ion-icon name="pin-outline"></ion-icon>
                  <div class="counter-number">
                    <div id="current_power">{{ mapmarkercount }}</div>
                  </div>
                  <div class="counter-title">Geolocated Posts</div>
                </div>
              </div>
              <div class="col-md-9">

                <div class="spudooli-section-title">Map</div>
                <link rel="stylesheet" href="/static/leaflet.css" />

                <div id="map"></div>
                <script id="map-data" type="application/json">
                    [
                        {% for marker in markers %}
                            {
                                "id": "{{ marker[0] }}",
                                "title": "{{ marker[1] | replace('\\', '') | safe }}",
                                "coords": {{ marker[2]|replace("(", "[")|replace(")", "]") }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                    </script>


              </div>
            </div>
          </div>
        </div>



        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/photoblog-map.js') }}"></script>
{% endblock %}