{% extends 'base.html' %}
{% set active_page = "photoblog" %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-un">{% block title %}The Photoblog{% endblock %}</h2>
        <div class="title-un-icon"><ion-icon name="camera-outline"></ion-icon></div>
        <p class="title-un-des">From 2004 until sometime 2010 this website was mostly dedicated to a photoblog. Some 414
          photo posts. the photoblog won a pretty prestigious award in 2006 - A Photobloggie for Australia / New Zealand
          photoblogs. </p>

        {% endblock %}

        {% block content %}


        <ul class="blog-posts-g">
          {% for post in posts %}
          <li>
            <div class="post-img">
              <a href="{{ url_for('post', id=post[0]) }}">
                <img id="photoblog-image" src="/static/photoblog/thumbs/thumb_{{ post[2] }}" class="post-img">
              </a>
            </div>
            <div class="post-content">
              <h5><a href="{{ url_for('post', id=post[0]) }}">
                  <h5>{{ post[1] | replace('\\', '') }}
                </a></h5>
              <div class="post-info"><span> {{ post[3] }}</span></div>
            </div>
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}