{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Photoblog{% endblock %}</h1>
{% endblock %}

{% block content %}

<article class="post">
  <header>
    <div>
      <h1>{{ post[1] }}</h1>
      <div class="about">by {{ post[0] }} </div>
    </div>

  </header>
  {% autoescape false %}
  <p class="body"><img src=http://www.spudooli.com/images/{{ post[2] }}></p>
  <p class="body">{{ post[3] }}</p>
  {% endautoescape %}
</article>




{% for comment in comments %}
{{ comment[0] }}<br>
{{ comment[1] }}<br>
{{ comment[2] }}<br>
{{ comment[3] }}<br>

{% endfor %}

{% endblock %}