{% extends 'base.html' %}
{% set active_page = "photoblog" %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-un">{% block title %}{{ post[1] }}{% endblock %}</h3>

        {% endblock %}

        {% block content %}

        {% autoescape false %}
        <p>
          <center><img id="photoblog-image" src="/static/photoblog/{{ post[2] }}"></center>
        </p>
        <p id="iso-info">{{ exifhtml }}</p>
        <p>{{ post[3] | replace('\n', '<br>') | replace('\\', '') }}</p>
        {% endautoescape %}

        <p><strong>Posted:</strong> {{ post[4] }}</p>
        <p><strong>Captured:</strong> {{ captured }}</p>
  

        {% autoescape false %}

        {% for comment in comments %}
        {{ comment[3] | replace('\\', '') }}<br>
        {{ comment[4] }} @ {{ comment[2] }}

        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        {% endautoescape %}

        <hr>

        {% endblock %}