{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block metadescription %}Special projects of data that always proves the thoughts I'm thinking{% endblock %}
{% block ogtitle %} Things I have said {% endblock %}
{% block ogdescription %}A small history of tthings I have said{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com{{ url_for('philosotainment') }}{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.spudooli.com{{ url_for('philosotainment') }}" />{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Projects{% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="construct-outline"></ion-icon>
        </div>
          <p class="title-un-des">Every now and then a thought occurs to me and I go off hunting that data to support my hypothesis and usually cheery pick the data to prove I'm right. Because!<br>
            
       </div></p>
        
        {% endblock %}

        {% block content %}
      
       
        <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                    <ion-icon name="radio-outline"></ion-icon>
                    <div class="counter-number"><div id="current_power"></div> </div>
                    <div class="counter-title"><a href="/house/charts/power">Songs</a></div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title">Too much Queen and Rolling Stones</div>
                    <p>I'm Gen X, I listen to the music of the best decades, 80s, 70s, some small portion of the 90s and 60's. That means The Sound, Coast Fm and Gold FM.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                    <ion-icon name="bluetooth-outline"></ion-icon>
                    <div class="counter-number"><div id="current_power"></div> </div>
                    <div class="counter-title"><a href="/house/charts/power">Bluetooth Devices</a></div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title">Bluetooth is everywhere/</div>
                    <p>In the late 2000s, we used to live across the road from a primary school, which meant 2 school drop off's and piskup's a day. I noticed a new trend in Bluetooth</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                    <ion-icon name="card-outline"></ion-icon>
                    <div class="counter-number"><div id="current_power"></div> </div>
                    <div class="counter-title"><a href="/house/charts/power">Bank Balance</a></div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title">Our bank balance</div>
                    <p>Online privacy. If you give it away, you are in control, no one can take it. With no context, does telling you our bank balance mean anything?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container-counter-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                    <ion-icon name="card-outline"></ion-icon>
                    <div class="counter-number"><div id="current_power"></div> </div>
                    <div class="counter-title"><a href="/house/charts/power">Tweets/Toots</a></div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>
                    <div class="counter-title">Philosotainment or The Book of Dave</div>
                    <p>So I've said a bunch of dumb things and sometimes said some things that will be remembered across the ages. This is them, graze upon them. Ther are The (newer) Book Of Dave  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          ''
        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>


{% endblock %}