{% extends 'base.html' %}
{% set active_page = "recently" %}

{% block metadescription %}This is where we went, what we listened to, tweeted and spent on {{ humandate }}{% endblock %}
{% block ogtitle %}On this day... {{ humandate }} {% endblock %}
{% block ogdescription %}This is where we went, what we listened to, tweeted and spent on {{ humandate }}{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}
{% block ogurl %}https://www.spudooli.com{{ url_for('recently') }}/{{ recentlydate }}{% endblock %}
{% block canonical %}<link rel="canonical" href="https://www.spudooli.com{{ url_for('recently') }}/{{ recentlydate }}" />{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}On this day {{ humandate }} {% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <p class="title-un-des">This is where we went, what we listened to, tweeted, coded, blogged and spent on this day<br>
            <a href="{{ url_for('recently', recentlydate=prevdate) }}">
                <ion-icon name="return-down-back-outline" size="small"></ion-icon> &nbsp &nbspPrevious Day </a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  {% if nextdate == "today" %} {% else %}<a href="/recently"> Today </a> &nbsp
                &nbsp &nbsp &nbsp &nbsp &nbsp  <a href="{{ url_for('recently', recentlydate=nextdate) }}"> Next Day&nbsp &nbsp<ion-icon name="return-down-forward-outline" size="small"></ion-icon></a>{% endif %}
            </div></p>
        
        {% endblock %}

        {% block content %}
      
       
        <div class="container-counter-box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
                  <div class="counter-number">  </div>
                  <div class="counter-title"> </div>
                </div>
              </div>
              <div class="col-md-9">
                <div>

                  {% for item in budgetdata %}
                  <div class="col-md-3">
                      &nbsp; 
                  </div>
                  <div class="col-md-9"> 
                     <div class="leftborderbank"><strong>{{ item[2] | replace("-", "$") }}</strong> - {{ item[3] }}<br><small><small>{{ item[1] }}</small> </small></div>
                  </div>         
                  {% endfor %}


                  {% for dat in data %}
                    <div class="col-md-3">
                        {{ dat[0].strftime('%-H:%M')}} 
                    </div>
                    <div class="col-md-9"> 
                        {% if dat[2] == "LastFM" %}<div class="leftborderlastfm"><strong>{{ dat[1] }} </strong><br><small> <small>{{ dat[4] }} - {{ dat[5] }}</small></small></div>
                        {% elif dat[2] == "Swarm" %}<div class="leftborderswarm"><strong>{{ dat[1] }} </strong><br><small> <small>{{ dat[3]}}</small></small> </div>
                        {% elif dat[2] == "Github" %}<div class="leftbordergithub">{{ dat[1] }} <br> <small><small><a href="{{ dat[7] }}"> {{ dat[6]|truncate(12) }}</a></small> </small> </div>
                        {% elif dat[2] == "Twitter" %}<div class="leftbordertweets">{{ dat[1] }} <br> <small><small><a href="https://twitter.com/Spudooli/status/{{ dat[6] }}">@spudooli</a></small> </small></div>
                        {% elif dat[2] == "Mastodon" %}<div class="leftbordermastodon">{{ dat[1] | safe}} {% if dat[8] %} <img src="/static/images/recently/{{dat[8]}}">{% endif %} <small><small><a href="{{ dat[7] }}">@spudooli@mastodon.nz</a></small> </small></div>
                        {% endif %} 
                    </div>         
                    {% endfor %}

                    {% if blogpost %}
                    <div class="col-md-3">
                        {{ blogpost[0].strftime('%-H:%M')}} 
                    </div>
                    <div class="col-md-9"> 
                        <div class="leftborderblog"><a href="/photoblog/{{ blogpost[2] }}">{{ blogpost[1]}} </a><br><small> <small></small></small> </div>
                    </div>   
                    {% endif %} 
                    {% if bankbalance %}
                    <div class="col-md-3">
                        {{ bankbalance[0].strftime('%-H:%M')}} 
                    </div>
                    <div class="col-md-9"> 
                        <div class="leftborderbank"><strong>${{ bankbalance[1]}} </strong><br><small> <small>End of day bank balance</small></small> </div>
                        
                    </div>  
                    {% endif %}      
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>


{% endblock %}