{% extends 'base.html' %}
{% set active_page = "house" %}

{% block header %}
<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}Search - {{ searchquery }} {% endblock %}</h1>
        <div class="title-un-icon">
            <ion-icon name="search-outline"></ion-icon>
        </div>
        <p class="title-un-des"></p>

        {% endblock %}

        {% block content %}
          {% for item in searchresults['hits'] %}

          <p><a href="/photoblog/{{ item['document']['id'] }}">{{ item['document']['headline']| replace("\\", "") }}</a>  <br>
          ... {{ item['highlights'][0]['snippet'] | replace("mark", "strong") | replace("\\", "") | safe}}</p>
            {% endfor %}

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>

{% endblock %}