{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-un">{% block title %}Status Spudooli{% endblock %}</h2>
        <div class="title-un-icon">
          <ion-icon name="pulse-outline"></ion-icon>
        </div>
        <p class="title-un-des">Which services are up and good            </p>

        {% endblock %}

        {% block content %}

        <div class="container-counter-box">
          <div class="container">
            <div class="row">

                {% for topic in topicstatus %}
                <div class="col-md-3"></div>
                <div class="col-md-4">{{ topic[0] }}</div>
              
                <div class="col-md-4">
                    {% if topic[1] == "good" %}
                    <ion-icon name="thumbs-up-outline" size="small" style="color: green"></ion-icon>
                    {% else %}
                   &nbsp;
                    {% endif %}
                </div>


                {% endfor %}


            </div>
          </div>
        </div>

        <!-- Close divs -->
      </div>
    </div>
  </div>
</div>


{% endblock %}