{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block metadescription %}I've said a bunch of dumb things and sometimes said some things that will be remembered
across the ages, compiled into a book and used as a guide to life for millennia.
This is them, graze upon them. These are The (newer) Book Of Dave{% endblock %}
{% block ogtitle %} The Book of Dave {% endblock %}
{% block ogdescription %}This is the Book of Daves{% endblock %}
{% block ogimage %}https://www.spudooli.com/static/images/spudooli-og.jpg{% endblock %}

{% block header %}

<div class="container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-un">{% block title %}The Book of Dave{% endblock %}</h1>
        <div class="title-un-icon">
          <ion-icon name="book-outline"></ion-icon>
        </div>
        <p class="title-un-des">I've said a bunch of dumb things and sometimes said some things that will be remembered
          across the ages, to the end of time and will be compiled into a book and used as a guide to
          life for millennia. This is them, graze upon them. <br>This is The (newer) Book Of Dave<br>
        </p>
      </div>

      <div class="col-lg-12">
        <!-- Search form -->
        <div class="row mb-4">
          <div class="col-lg-6 offset-lg-3">
            <form action="/projects/the-book-of-dave/search" method="GET" class="d-flex">
              <input type="text" name="query" class="form-control" placeholder="Search The Book of Dave..."
                aria-label="Search">
              <button class="btn btn-primary ms-2" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>

      {% if not stats_mode %}
      <div class="col-lg-12">
        <div class="row mb-4">
          <div class="col-lg-6 offset-lg-3">
            <h3 class="title-un">Everything I know about {% if query %}{{query}}{% endif %}</h3>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% if stats_mode %}

<div class="container-counter-box">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="counter-box wow fadeInUp" data-wow-delay=".2s">
          <ion-icon name="play-outline"></ion-icon>
          <div class="counter-number">{{ numTweetsToots }}</div>
          <div class="counter-title">Total Posts</div>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <div class="spudooli-section-title">There clearly was a heyday of Twitter for me</div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-counter-box">
  <div class="container">

    <canvas id="mypostsChart" width="1000" height="400" data-labels='{{ posts_by_month_labels | tojson }}'
      data-values='{{ posts_by_month_values | tojson }}'></canvas>

  </div>
</div>


<div class="container-counter-box">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="counter-box wow">
          <div class="counter-number">
            <div id="current_power"></div>
          </div>
          <div class="counter-title"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <div class="spudooli-section-title">Posts per day — last 12 months</div>
          <div class="checkin-heatmap">
            <div class="heatmap-wrap">
              <div class="heatmap-day-labels">
                <div></div>
                <div>Mon</div>
                <div></div>
                <div>Wed</div>
                <div></div>
                <div>Fri</div>
                <div></div>
              </div>
              <div class="heatmap-columns-wrap">
                <div class="heatmap-months">
                  {% for label in posts_week_month_labels %}
                  <div class="heatmap-month-cell">{{ label }}</div>
                  {% endfor %}
                </div>
                <div class="heatmap-weeks">
                  {% for week in posts_weeks %}
                  <div class="heatmap-week">
                    {% for day in week %}
                    <div class="heatmap-cell level-{{ day.level }}{% if day.future %} future{% endif %}"
                      title="{{ day.date }}: {{ day.count }} post{{ 's' if day.count != 1 else '' }}"></div>
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="heatmap-legend">
              <span>Less</span>
              <div class="heatmap-cell level-0"></div>
              <div class="heatmap-cell level-1"></div>
              <div class="heatmap-cell level-2"></div>
              <div class="heatmap-cell level-3"></div>
              <div class="heatmap-cell level-4"></div>
              <span>More</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="{{ url_for('static', filename='js/bookofdave-charts.js') }}"></script>

{% else %}

<div class="container-counter-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="counter-box wow fadeInUp" data-wow-delay=".1s">
          <div class="counter-number"> </div>
          <div class="counter-title"> </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-lg-9">

            {% for vers in verse %}
            <div class="row">
              <div class="col-md-3">
                {{ vers.event_date.strftime('%d %B %Y %-H:%M') }}
              </div>
              <div class="col-md-9">
                {% if vers.type == "Twitter" %}<div class="leftbordertweets">{{ vers.name }} <br>{% if
                  vers.item_image %} <img class="img-fluid" src="/static/images/recently/{{vers.item_image}}">{%
                  endif %}<br> <small><small><a
                        href="https://twitter.com/Spudooli/status/{{ vers.external_id }}">@spudooli</a></small>
                  </small></div>
                {% elif vers.type == "Mastodon" %}<div class="leftbordermastodon">{{ vers.name | safe}} <br>{%
                  if vers.item_image %} <img class="img-fluid" src="/static/images/recently/{{vers.item_image}}">{%
                  endif %}<br><small><small><a href="{{ vers.url }}">@spudooli@mastodon.nz</a></small> </small></div>
                {% endif %}
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    <!-- Close divs -->
  </div>
</div>

{% endif %}

{% endblock %}